In [1]:
import pandas as pd

In [2]:
air_quality = pd.read_csv("data/air_quality_long.csv", index_col='date.utc', parse_dates=True)

In [3]:
air_quality.head()

                                city country location parameter  value   unit
date.utc
2019-06-18 06:00:00+00:00  Antwerpen      BE  BETR801      pm25   18.0  µg/m³
2019-06-17 08:00:00+00:00  Antwerpen      BE  BETR801      pm25    6.5  µg/m³
2019-06-17 07:00:00+00:00  Antwerpen      BE  BETR801      pm25   18.5  µg/m³
2019-06-17 06:00:00+00:00  Antwerpen      BE  BETR801      pm25   16.0  µg/m³
2019-06-17 05:00:00+00:00  Antwerpen      BE  BETR801      pm25    7.5  µg/m³

## add location coordinates to this data set

In [4]:
stations_coord = pd.read_csv("data/air_quality_stations.csv")
stations_coord.head()

  location  coordinates.latitude  coordinates.longitude
0  BELAL01              51.23619                4.38522
1  BELHB23              51.17030                4.34100
2  BELLD01              51.10998                5.00486
3  BELLD02              51.12038                5.02155
4  BELR833              51.32766                4.36226

In [6]:
stations_coord[stations_coord['location'] == 'BETR801']

  location  coordinates.latitude  coordinates.longitude
9  BETR801              51.20966                4.43182

## joining dataframes using merge()

In [7]:
air_quality = pd.merge(air_quality, stations_coord, how="left", on="location")

In [8]:
air_quality.head()

,city,country,location,parameter,value,unit,coordinates.latitude,coordinates.longitude
0,Antwerpen,BE,BETR801,pm25,18.0,µg/m³,51.20966,4.43182
1,Antwerpen,BE,BETR801,pm25,6.5,µg/m³,51.20966,4.43182
2,Antwerpen,BE,BETR801,pm25,18.5,µg/m³,51.20966,4.43182
3,Antwerpen,BE,BETR801,pm25,16.0,µg/m³,51.20966,4.43182
4,Antwerpen,BE,BETR801,pm25,7.5,µg/m³,51.20966,4.43182

In [9]:
air_quality.sample()

,city,country,location,parameter,value,unit,coordinates.latitude,coordinates.longitude
2626,Paris,FR,FR04014,no2,10.0,µg/m³,48.83722,2.3939

In [11]:
stations_coord[stations_coord['location'] == 'FR04014']

   location  coordinates.latitude  coordinates.longitude
26  FR04014              48.83724                 2.3939
27  FR04014              48.83722                 2.3939

In [12]:
air_quality.shape

(6948, 8)

In [15]:
air_quality.head()

,city,country,location,parameter,value,unit,coordinates.latitude,coordinates.longitude
0,Antwerpen,BE,BETR801,pm25,18.0,µg/m³,51.20966,4.43182
1,Antwerpen,BE,BETR801,pm25,6.5,µg/m³,51.20966,4.43182
2,Antwerpen,BE,BETR801,pm25,18.5,µg/m³,51.20966,4.43182
3,Antwerpen,BE,BETR801,pm25,16.0,µg/m³,51.20966,4.43182
4,Antwerpen,BE,BETR801,pm25,7.5,µg/m³,51.20966,4.43182